choiceexample/src/main/mule/choiceexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8481091a-1041-4651-ba30-768084d88a2f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choiceexampleFlow" doc:id="6adc5e44-c9b8-492e-97ef-3fae48dd1c99" >
		<http:listener doc:name="Listener" doc:id="c83f3689-b91c-46c7-be66-fac75f4f38bc" config-ref="HTTP_Listener_config" path="/country"/>
		<logger level="INFO" doc:name="Logger" doc:id="956a20df-fa14-456c-9540-61f8dfd97519" message="incoming request :: #[payload]"/>
		<choice doc:name='choice' doc:id="2cfb17f2-83ab-4e8e-961c-40936ff8be1a" >
			<when expression='#[payload.countryname=="IND"]'>
				<logger level="INFO" doc:name="Logger" doc:id="232cfecc-bd3f-4dfd-8fbb-297b246bc7bd" message="IND flow is started"/>
				<ee:transform doc:name="Transform Message" doc:id="f7158c59-08da-4f25-bd20-7540f2404986" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "please allow them for further proceedings"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="312fecf1-c8c9-450b-acf0-7a739c88f474" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"please choose proper countryName"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
