choiceexample1/src/main/mule/choiceexample1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d5f184e-e041-48c3-9259-31fa5b52a767" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choiceexample1Flow" doc:id="6b8a4acc-516d-42fa-b881-0430d994e9b5" >
		<http:listener doc:name="Listener" doc:id="f3fbf964-5592-494d-ba11-c7b00679536b" config-ref="HTTP_Listener_config" path="/state&amp;city/"/>
		<logger level="INFO" doc:name="Logger" doc:id="a506ee11-2981-4352-87a8-0835340594e1" message="reciving the input ::#[payload]"/>
		<choice doc:name="Choice" doc:id="dd7a23df-4139-43b6-8ae8-319c8e31abab" >
			<when expression='#[payload.state=="TS"  and  payload.city=="hyd"]'>
				<ee:transform doc:name="Transform Message" doc:id="11b4d5d0-9917-4204-a070-628018020a10" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"hyd is a famous for biryani"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.state=="KA"  and  payload.city=="bang"]'>
				<ee:transform doc:name="Transform Message" doc:id="461650ca-ea3c-4d03-89a5-9802b9971bac" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"bang is a famous for climate"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.state=="TN"  and  payload.city=="chnnai"]'>
				<ee:transform doc:name="Transform Message" doc:id="6216fd65-938a-436c-8b61-55d1417fffd5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"chenni is a famous for Temples"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="d2be2b81-f755-45cf-965f-27cef101c55b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"please choose proper state and city names"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
